# API Backend URL
VITE_API_URL=http://localhost:3001/api

# Usar datos mock en memoria mientras no exista el backend real
VITE_USE_MOCK=true

# App
VITE_APP_NAME=NorteProget

# Google Analytics 4 Measurement ID
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX