
NODE_ENV=developmentPORT=3000

DATABASE_URL="postgresql://postgres:Clave@localhost:5432/norte"

# Puerto del servidor
PORT=3002

# Clave para firmar los JWT
JWT_SECRET=tu_clave_secreta


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=http://localhost:5173